{
  "start_date": "2019-01-01T00:00:00Z",
  "user_agent": "tap-twitter-ads <api_user_email@your_company.com>",
  "client_id": "YOUR_TWITTER_ADS_OAUTH2_CLIENT_ID",
  "client_secret": "YOUR_TWITTER_ADS_OAUTH2_CLIENT_SECRET",
  "access_token": "YOUR_TWITTER_ADS_OAUTH2_ACCESS_TOKEN",
  "refresh_token": "YOUR_TWITTER_ADS_OAUTH2_REFRESH_TOKEN",
  "account_ids": "id1, id2, id3",
  "attribution_window": "14",
  "with_deleted": "true",
  "country_codes": "US, CA, MX, DE",
  "reports": [
    {
      "name": "campaigns_genders_hourly_report",
      "entity": "CAMPAIGN",
      "segment": "GENDER",
      "granularity": "HOUR"
    },
    {
      "name": "line_items_regions_daily_report",
      "entity": "LINE_ITEM",
      "segment": "REGIONS",
      "granularity": "DAY"
    }
  ],
  "request_timeout": 300
}
