{
  "start_date": "2019-01-01T00:00:00Z",
  "client_id": "YOUR_X_OAUTH2_CLIENT_ID",
  "client_secret": "YOUR_X_OAUTH2_CLIENT_SECRET",
  "access_token": "YOUR_X_OAUTH2_ACCESS_TOKEN",
  "refresh_token": "YOUR_X_OAUTH2_REFRESH_TOKEN"
}

